<h3>Register Guest in Guest Book</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="guest.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="guest.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="guest.phoneNumber" name="phoneNumber">
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="guest.emailId" name="emailId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Guest Registered Successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newGuest()">Add</button> -->
</div>

